<div class="product-container">
  <a routerLink="/products/{{product.id}}" [state]="product">
    <img class="product-image" src="{{product.url}}" alt="">
  </a>
  <h3>{{product.name}}</h3>
  <span>${{product.price}}</span>
  <select name="quantity" id="quantity" class="select-input" [(ngModel)]="quant">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
  </select>
  <button (click)="addToProduct()">Add to Cart</button>
</div>
