<div class="detail-container">
  <div class="detail-item">

    <img src="{{product.url}}" alt="">
    <h3>{{product.name}}</h3>
    <span>{{product.price}}</span>
    <p> {{product.description}}</p>
    <select name="quantity" id="quantity" class="select-input">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
    </select>
    <button>Add To Cart</button>
    <a routerLink="/">Back To Products</a>
  </div>
</div>
